<dui-screen>
    <dui-screen-header title="Contact">
        <ol class="breadcrumb">
            <li>angular-dui demo</li>
            <li class="active">Contact</li>
        </ol>
    </dui-screen-header>
    <dui-screen-content>
        <div class="row">
            <div class="col-md-3">
                <dui-panel>
                    <dui-panel-header>
                        <h3 class="panel-title">Panel title</h3>
                    </dui-panel-header>
                    <dui-panel-content>
                        Panel content
                    </dui-panel-content>
                    <dui-panel-footer>
                        Panel footer
                    </dui-panel-footer>
                </dui-panel>

                <dui-panel>
                    <dui-panel-header>
                        <h3 class="panel-title">Panel title</h3>
                    </dui-panel-header>
                    <dui-panel-content>
                        Panel content
                    </dui-panel-content>
                    <dui-panel-footer>
                        Panel footer
                    </dui-panel-footer>
                </dui-panel>

                <dui-panel>
                    <dui-panel-header>
                        <h3 class="panel-title">Panel title</h3>
                    </dui-panel-header>
                    <dui-panel-content>
                        Panel content
                    </dui-panel-content>
                    <dui-panel-footer>
                        Panel footer
                    </dui-panel-footer>
                </dui-panel>
            </div>
            <div class="col-md-3">
                <dui-box>
                    <dui-box-header title="Contact"></dui-box-header>
                    <dui-box-content>
                        <p>Maecenas volutpat nunc porta tincidunt tristique. Maecenas in tellus a ligula luctus fringilla non ut sapien. Etiam consequat, risus ac blandit vehicula, nisl nisi varius risus, sit amet commodo diam magna vitae magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sit amet ante sollicitudin, vehicula mauris a, posuere eros.</p>
                    </dui-box-content>
                </dui-box>
            </div>
            <div class="col-md-3">
                <dui-box>
                    <dui-box-header title="Contact"></dui-box-header>
                    <dui-box-content>
                        <p>Maecenas volutpat nunc porta tincidunt tristique. Maecenas in tellus a ligula luctus fringilla non ut sapien. Etiam consequat, risus ac blandit vehicula, nisl nisi varius risus, sit amet commodo diam magna vitae magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sit amet ante sollicitudin, vehicula mauris a, posuere eros.</p>
                    </dui-box-content>
                </dui-box>
            </div>
            <div class="col-md-3">
                <dui-box>
                    <dui-box-header title="Contact"></dui-box-header>
                    <dui-box-content>
                        <p>Maecenas volutpat nunc porta tincidunt tristique. Maecenas in tellus a ligula luctus fringilla non ut sapien. Etiam consequat, risus ac blandit vehicula, nisl nisi varius risus, sit amet commodo diam magna vitae magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sit amet ante sollicitudin, vehicula mauris a, posuere eros.</p>
                    </dui-box-content>
                </dui-box>
            </div>
        </div>

    </dui-screen-content>
</dui-screen>
