<dui-screen>
    <dui-screen-header title="About">
        <ol class="breadcrumb">
            <li>angular-dui demo</li>
            <li class="active">About</li>
        </ol>
    </dui-screen-header>
    <dui-screen-content>
        <dui-box>
            <dui-box-header title="About"></dui-box-header>
            <dui-box-content>
                <p>Nam malesuada massa et purus porttitor cursus. Proin maximus nibh sed mattis placerat. Aenean quam odio, convallis lacinia orci ac, pulvinar posuere ex. Morbi elementum ultricies blandit. Sed ultrices tellus non nisl hendrerit dapibus. Cras sodales porttitor diam et consectetur. Pellentesque tempus lacus eget orci placerat cursus.</p>
            </dui-box-content>
        </dui-box>
    </dui-screen-content>
</dui-screen>
